- var link = "#!/" + id + "/operate"
.item
    i.large.clockwise.rotated.orange.fork.icon
    .content
        a.header(href=link)
            =hdr
        .meta
        .description
            =desc
        .extra
            button.ui.compact.tiny.basic.button
                i.edit.icon
                | Edit
            button.ui.compact.tiny.basic.button
                i.copy.icon
                | Duplicate
            button.ui.compact.tiny.basic.button
                i.remove.icon
                | Remove
