<!DOCTYPE html>
<html ng-app="ccengine" ng-controller="rootCtrl">

<head>
    <meta charset="UTF-8">
    <base href="/">
    <link rel="shortcut icon" href="/favicon.ico"/>
    <!--Import bootstrap.css-->
    <link type="text/css" rel="stylesheet" href="assets/css/bootstrap.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="assets/css/bootstrap-theme.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="styles/app.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="assets/css/font-awesome.min.css"/>
    <!-- <link type="image/x-icon" rel="icon" href="img/favicon.ico"> -->
    <title>CC Engine</title>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
<div class="pull-right err-plate" ng-show="msgs.nonEmpty" ng-controller="messagesCtrl">
    <div ng-show="msgs.nonEmpty">
        <div class="text-center">
            <em>Messages:</em>
            <button type="button" class="close pull-right" ng-click="msgs.clear()">
                <!-- <span>&times;</span> -->
                <i class="fa fa-times"></i>
            </button>
        </div>
        <ul>
            <li ng-class="{'bg-danger': m.l == 'err', 'bg-warning': m.l == 'wrn', 'bg-info': m.l == 'inf', 'bg-success': m.l == 'scs'}"
                ng-repeat="m in msgs">
                {{m.m}}
            </li>
        </ul>
    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#top-bar-oper" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">
                <span><img src="img/logo.png" alt="RWTG" height="20"> OmolE </span>
                <!-- <span style="color: #ffffff; background-color: #ffffff; padding: 2px" class="h6">
                    <span style="background-color: #827717; padding: 0 2px;">R</span>
                    <span style="background-color: #e65100; padding: 0 2px;">W</span>
                    <span style="background-color: #2979ff; padding: 0 2px;">T</span>
                    <span style="background-color: #00897b; padding: 0 2px; margin-right: 4px;">G</span>
                </span> -->
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="top-bar-oper">
            <ul class="nav navbar-nav" ui-view="menu">
            </ul>
        </div>
    </div>
</nav>

<!-- <div ui-view="messages"></div> -->
<div class="container">
    <div ui-view="main"></div>
</div>
</body>
<script type="text/javascript" src="assets/js/lodash.js"></script>
<script type="text/javascript" src="assets/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/angular.min.js"></script>
<script type="text/javascript" src="assets/js/angular-resource.min.js"></script>
<script type="text/javascript" src="assets/js/angular-ui-router.js"></script>
<script type="text/javascript" src="scripts/ccengine.js"></script>
<script type="text/javascript" src="scripts/services/config.js"></script>
<script type="text/javascript" src="scripts/services/resources.js"></script>
<script type="text/javascript" src="scripts/services/messages.js"></script>
<script type="text/javascript" src="scripts/services/events.js"></script>
<script type="text/javascript" src="scripts/services/data.js"></script>
<script type="text/javascript" src="scripts/services/context.js"></script>
<script type="text/javascript" src="scripts/controllers/messages.js"></script>
<script type="text/javascript" src="scripts/controllers/login.js"></script>
<script type="text/javascript" src="scripts/controllers/registration.js"></script>
<script type="text/javascript" src="scripts/controllers/list/list.js"></script>

<!-- 
<script type="text/javascript" src="assets/js/angular-animate.min.js"></script>
<script type="text/javascript" src="assets/js/angular-route.min.js"></script>
<script type="text/javascript" src="assets/js/cytoscape.js"></script>
<script type="text/javascript" src="scripts/bs-add.js"></script>
<script type="text/javascript" src="scripts/controllers/graph-info-list.js"></script>
<script type="text/javascript" src="scripts/controllers/graph-operations.js"></script>
<script type="text/javascript" src="scripts/controllers/graph-operations-node_editor.js"></script>
<script type="text/javascript" src="scripts/controllers/graph-operations-link_editor.js"></script>
<script type="text/javascript" src="scripts/controllers/graph-visual.js"></script>
 --><!--<body ng-controller="rootCtrl">-->
<!--<script type="text/javascript">-->
<!--angular.module('dispatcher', [])-->
<!--.config(['$locationProvider', function($locationProvider) {-->
<!--$locationProvider.html5Mode(true);-->
<!--}])-->
<!--.controller('rootCtrl', ['$location', function ($location) {-->
<!--$location.url($location.url() + '/piancho/');-->
<!--}]);-->
<!--</script>-->
<!--</body>-->

</html>