<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header pull-right">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">CCEngine
                <span style="color: #ffffff; background-color: #ffffff; padding: 2px" class="h6">
                    <span style="background-color: #827717; padding: 0 2px;">R</span>
                    <span style="background-color: #e65100; padding: 0 2px;">W</span>
                    <span style="background-color: #2979ff; padding: 0 2px;">T</span>
                    <span style="background-color: #00897b; padding: 0 2px;">G</span>
                </span>
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="" ng-click="back()">
                        <span class="glyphicon glyphicon-chevron-left" data-toggle="tooltip" data-placement="bottom"
                              title="Назад"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="pull-right err-plate" ng-show="msgs.nonEmpty" ng-controller="messagesCtrl">
    <div ng-show="msgs.nonEmpty">
        <div class="text-center">
            <em>Messages:</em>
            <button type="button" class="close pull-right" ng-click="msgs.clear()">
                <!-- <span>&times;</span> -->
                <i class="fa fa-times"></i>
            </button>
        </div>
        <ul>
            <li ng-class="{'bg-danger': m.l == 'err', 'bg-warning': m.l == 'wrn', 'bg-info': m.l == 'inf', 'bg-success': m.l == 'scs'}"
                ng-repeat="m in msgs">
                {{m.m}}
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 list-group ng-cloack">
        <div class="list-group-item">
            <div class="text-center">
                <button class="btn btn-success btn-lg" ng-hide="where === 'top'"
                        ng-click="where = 'top'; newGraph = {info:{}}">
                    <i class="fa fa-plus"></i> New
                </button>
            </div>
            <form class="form-inline" ng-show="where === 'top'">
                <input type="text" class="form-control" ng-model="newGraph.info.label">
                <button class="btn btn-danger" ng-click="where = newGraph = undefined">Cancel</button>
                <button class="btn btn-success" ng-click="newGraphSave(newGraph); where = newGraph = undefined">Save
                </button>
            </form>
        </div>
        <div class="list-group-item" ng-repeat="gi in graphinfos">
            <h4 ng-hide="editing === gi.id">
                <a href="desk/operate/{{gi.id}}" ng-class="{'text-muted': !gi.info.label}">{{gi.info.label ?
                    gi.info.label : 'No title'}}</a>
            </h4>

            <form class="form-inline" ng-show="editing === gi.id">
                <input type="text" class="form-control" ng-model="editGraph.info.label">
                <button class="btn btn-danger" ng-click="editing = editGraph = undefined">Cancel</button>
                <button class="btn btn-success"
                        ng-click="editGraphSave(gi, editGraph); editing = editGraph = undefined">Save
                </button>
            </form>
            <div class="btn-group">
                <button class="btn btn-link btn-sm" data-toggle="dropdown">
                    Opts <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="" ng-click="editing = gi.id; editGraph = {info: {label: gi.info.label}}">Edit</a>
                    </li>
                    <li><a href="" ng-click="removeGraph(gi)">Remove</a></li>
                    <li><a href="" ng-click="showRaw = gi.id">Raw data</a></li>
                </ul>
            </div>
            <p ng-show="showRaw === gi.id">
                <em>{{gi}}</em>
            </p>
        </div>
        <div class="list-group-item">
            <div class="text-center">
                <button class="btn btn-success btn-lg" ng-hide="where === 'bottom'"
                        ng-click="where = 'bottom'; newGraph = {info:{}}">
                    <i class="fa fa-plus"></i> New
                </button>
            </div>
            <form class="form-inline" ng-show="where === 'bottom'">
                <input type="text" class="form-control" ng-model="newGraph.info.label">
                <button class="btn btn-danger" ng-click="where = newGraph = undefined">Cancel</button>
                <button class="btn btn-success" ng-click="newGraphSave(newGraph)">Save</button>
            </form>
        </div>
    </div>
</div>
