<div class="pull-right err-plate" ng-show="msgs.nonEmpty" ng-controller="messagesCtrl">
    <div ng-show="msgs.nonEmpty">
        <div class="text-center">
            <em>Messages:</em>
            <button type="button" class="close pull-right" ng-click="msgs.clear()">
                <!-- <span>&times;</span> -->
                <i class="fa fa-times"></i>
            </button>
        </div>
        <ul>
            <li ng-class="{'bg-danger': m.l == 'err', 'bg-warning': m.l == 'wrn', 'bg-info': m.l == 'inf', 'bg-success': m.l == 'scs'}"
                ng-repeat="m in msgs">
                {{m.m}}
            </li>
        </ul>
    </div>
</div>
