node {
  shape: ellipse;
  color: #fff;
  label: data(label);
  background-color: #546e7a;
  background-opacity: 1;
  border-color: #546e7a;
  border-width: 2px;
  text-valign: center;
  text-halign: center;
  text-outline-width: 2;
  text-outline-color: #546e7a;
  min-zoomed-font-size: 9;
}

.subject {
  background-opacity: 1;
}

.object {
  background-opacity: 0;
}

.subject-or-object {
  background-opacity: 0.3;
}

.user {
  shape: ellipse;
}

.programm {
  shape: diamond;
}

.buffer {
  shape: rhomboid;
}

.data-or-file {
  shape: roundrectangle;
}

.storage {
  shape: ellipse;
  width: 40;
  height: 20;
}

.removable_media {
  shape: vee;
}

.server {
  shape: rectangle;
  width: 40;
  height: 20;
}

.client {
  shape: rectangle;
  width: 20;
  height: 40;
}

.firewall {
  shape: star;
}

.gate {
  shape: heptagon;
}

.tmp {
  shape: pentagon;
  shape: hexagon;
  shape: triangle;
  shape: octagon;
}

.group {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  label: data(label);
  color: #000;
  text-valign: top;
  text-halign: center;
  text-outline-width: 0;
  background-color: #eceff1;
  border-width: 1;
  border-color: #000;
  border-style: dashed;
}

/*
.zone {
  background-color: #eceff1;
}

.level {
  background-color: #fff9c4;
}
*/

node.path {
  font-style: italic;
  opacity: 1;
}

node.path-from {
  border-width: 5px;
  border-style: solid;
  border-color: #0f0;
}

node.path-to {
  border-width: 5px;
  border-style: solid;
  border-color: #f00;
}

:selected {
  border-width: 5px;
  border-color: black;
  border-style: double;
}

.from:selected {
  border-color: #0f0;
}

.to:selected {
  border-color: #f00;
}

edge {
  width: 1px;
  curve-style: bezier;
  target-arrow-shape: triangle;
  target-arrow-fill: hollow;
}

.r-only {
  line-color: #827717;
  target-arrow-color: #827717;
  target-arrow-shape: triangle-tee;
  mid-source-arrow-color: #827717;
  mid-source-arrow-shape: tee;
  mid-source-arrow-fill: hollow;
}

.w-only {
  line-color: #ff7728;
  target-arrow-color: #ff7728;
  target-arrow-shape: triangle-tee;
  mid-source-arrow-color: #ff7728;
  mid-source-arrow-shape: tee;
  mid-source-arrow-fill: hollow;
}

.read {
  line-color: #827717;
  target-arrow-color: #827717;
}

.write {
  line-color: #ff7728;
  target-arrow-color: #ff7728;
}

.take {
  line-color: #2979ff;
  target-arrow-color: #2979ff;
}

.grant {
  line-color: #bc00ff;
  target-arrow-color: #bc00ff;
}

edge.path {
  opacity: 1;
}

edge.path-hl {
  width: 3px;
  label: data(plabel);
  font-style: italic;
  font-size: 10;
  color: #000;
  text-background-color: orange;
  text-background-opacity: 1;
  text-background-shape: roundrectangle;
}

.dim {
  opacity: 0.5;
  font-style: italic;
}

.group.dim {
  opacity: 1;
}

.path.dim {
  opacity: 1;
}

/*
:selected {
  border-width: 5px;
  border-color: black;
  border-style: double;
}

.sel-start:selected {
  border-color: green;
}

.sel-end:selected {
  border-color: red;
}

*/

/*
.hl {
  opacity: 1;
}

.hl-active {
  opacity: 1;
  line-style: dashed;
}
*/

/* edge.take.hl-active, edge.grant.hl-active {
  width: 4px;
}
edge.read.hl-active, edge.write.hl-active {
  width: 2px;
}
*/

/*
.hl-start {
  background-color: green;
}

.hl-end {
  background-color: red;
}
*/
