<h3>Relations:</h3>
<div class="list-group ng-cloack" ng-controller="graphOperationsLECtrl">
    <div class="list-group-item">
        <div class="text-center">
            <button class="btn btn-success" ng-hide="where === 'top'"
                    ng-click="where = 'top'; cclabel = 'READ'; ctx.selRun({directed: true, n: 2});">
                <i class="fa fa-plus-square-o"></i> New
            </button>
        </div>
        <form name="newEdgeForm" class="form-inline" ng-show="where === 'top'">
            <!-- <input type="text" class="form-control" placeholder="Name" ng-model="newEdgeValue.info.label"> -->
            <div class="form-group">
                <!-- <label class="col-sm-2 control-label">From</label> -->
                <label class="control-label">From</label>
                <!-- <div class="col-sm-10"> -->
                <p class="form-control-static">{{ctx.sel.n[0].info.label}}</p>
                <!-- </div> -->
            </div>
            <div class="form-group">
                <!-- <label class="col-sm-2 control-label">To</label> -->
                <label class="control-label">To</label>
                <!-- <div class="col-sm-10"> -->
                <p class="form-control-static">{{ctx.sel.n[1].info.label}}</p>
                <!-- </div> -->
            </div>
            <div class="form-group">
                <label class="radio-inline">
                    <input type="radio" name="newEdgeForm" value="R_ONLY" ng-model="cclabel">
                    READ ONLY
                </label>
            </div>
            <div class="form-group">
                <label class="radio-inline">
                    <input type="radio" name="newEdgeForm" value="W_ONLY" ng-model="cclabel">
                    WRITE ONLY
                </label>
            </div>
            <div class="form-group">
                <label class="radio-inline">
                    <input type="radio" name="newEdgeForm" value="READ" ng-model="cclabel">
                    READ
                </label>
            </div>
            <div class="form-group">
                <label class="radio-inline">
                    <input type="radio" name="newEdgeForm" value="WRITE" ng-model="cclabel">
                    WRITE
                </label>
            </div>
            <div class="form-group">
                <label class="radio-inline">
                    <input type="radio" name="newEdgeForm" value="TAKE" ng-model="cclabel">
                    TAKE
                </label>
            </div>
            <div class="form-group">
                <label class="radio-inline">
                    <input type="radio" name="newEdgeForm" value="GRANT" ng-model="cclabel">
                    GRANT
                </label>
            </div>
            <span class="text-right">
                <button class="btn btn-danger" ng-click="where = undefined; ctx.selStop()">Cancel</button>
                <button class="btn btn-success" ng-show="ctx.sel.n.length == 2"
                        ng-click="where = undefined; newEdgeSave(newEdge); ctx.selStop()">Save
                </button>
            </span>
        </form>
    </div>

    <div class="list-group-item" ng-repeat="e in es">
        <div data-toggle="collapse" data-target="#raw_{{e.id}}" aria-expanded="false" aria-controls="raw_{{e.id}}">
            <div class="btn-group">
                <span class="btn btn-link" data-toggle="dropdown" ng-class="{'text-muted': !e.info.label}">
                    <span class="h3">{{e.cclabel.substring(0,1)}}</span>
                    <span class="h4">
                        {{getNodeName(e.source)}} <i class="fa fa-arrow-right"></i> {{getNodeName(e.target)}}
                    </span>
                    <span class="caret"></span>
                </span>
                <ul class="dropdown-menu">
                    <li><a href="" ng-click="removeEdge(e)">Remove</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
