                <li>
                    <a href="" ng-click="back()">
                        <i class="fa fa-angle-left fa-lg" data-toggle="tooltip" data-placement="bottom"
                           title="List of graphs"></i>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        Modes <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-class="{active: mode === 'visual'}">
                            <a href="" role="button" ng-click="setMode('visual');">Operate</a>
                        </li>
                        <li ng-class="{active: mode === 'editor'}">
                            <a href="" role="button" ng-click="setMode('editor');">Editor</a>
                        </li>
                    </ul>
                </li>
                <!--                 <li ng-class="{active: mode === 'visual'}">
                                    <a href="" ng-click="mode = 'visual';">Visual</a>
                                </li>
                                <li ng-class="{active: mode === 'editor'}">
                                    <a href="" ng-click="mode = 'editor';">Node editor</a>
                                </li>
                                <li ng-class="{active: mode === 'matrix'}">
                                    <a href="" ng-click="mode = 'matrix';">Link editor</a>
                                </li>
                 -->
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        View <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header"><strong class="text-info">Layoyts:</strong></li>
                        <li>
                            <a href="" role="button" ng-click="changeLayout('default');">
                                Default
                            </a>
                        </li>
                        <li ng-repeat="lo in layouts">
                            <!-- <div class="radio"> -->
                            <a href="" ng-click="changeLayout(lo.value)">
                                <!-- <label> -->
                                <input class="pull-right" type="radio" name="layout" readonly ng-value="lo.value">
                                {{lo.name}}
                                <!-- </label> -->
                            </a>
                            <!-- </div> -->
                        </li>
                        <!-- <li class="divider" role="separator"></li>
                        <li>
                            <a href="" ng-click="showOpts=true">Options&hellip;</a>
                        </li> -->
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        Run<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header"><strong class="text-info">Results:</strong></li>
                        <li ng-class="{active: showOpts}">
                            <a href="" role="button" ng-click="toggleOpts();">Review&hellip;</a>
                        </li>
                        <li>
                            <a href="" role="button" ng-click="invalidateCaches();">Clear</a>
                        </li>
                        
                        <li class="dropdown-header"><hr><strong class="text-info">Methods:</strong></li>
                        <li ng-repeat="algo in algos">
                            <a href="" ng-click="run(algo)"><small>{{algo.name ? algo.name : algo.url}}</small></a>
                        </li>
                    </ul>
                </li>

