.ui.simple.dropdown.item
    | Algorythms
    i.dropdown.icon
    if !algos
        .ui.active.dimmer
            .ui.small.loader
    else        
        .ui.vertical.menu(class=algos?'':'disabled')
            each val in algos
                .item(key=val.name, onClick=taskPrepare(val))
                    = val.name + (val.inputParam !== 'INPUT_GID' ? ' ...' : '')
