.ui.simple.dropdown.item
    | Reports
    i.dropdown.icon
    if isFetching
        .ui.active.dimmer
            .ui.small.loader
    else        
        .ui.vertical.menu(class=isFetching ? 'disabled' : '')
            each val in rNames
                .item(key=val, onClick=reportPrepare(val))
                    = val + (isShort(val) ? '' : ' ...')
