.ui.menu.top.fixed.inverted
    a.item.header(href="/")
        img.logo(src=logo)/
        | &nbsp;&nbsp;OMOLE
    //- a.item.orange(href='#!/', class= mode == modeConst.LIST ? 'active' : '') List
    =children
