.ui.menu.top.fixed.inverted
    a.item.header(href="/")
        img.logo(src=logo)/
        | &nbsp;&nbsp;OMOLE
    //- a.item.orange(href='#!/', class= mode == modeConst.LIST ? 'active' : '') List
    =children
    if !restrict()
        .ui.right.inverted.menu
            //- .ui.link.item(onClick=showMC)
            //-     i.ui.icons
            //-         i.ui.mail.icon
            //-         i.ui.red.corner.circle.icon
            =rightChildren
