{
    "presets": [
        [ "env", {
            "modules": false,
            "targets": {
                "browsers": ["last 2 versions", "safari >= 9"]
            }
        }],
        "stage-1",
        "react"
    ],
    "plugins": [
        "lodash"
    ]
}
