<!DOCTYPE html>
<html lang=<%= htmlWebpackPlugin.options.lang %>>
    <head>
        <title> <%= htmlWebpackPlugin.options.title %> </title>
        <meta charset="UTF-8"/>
        <!-- meta name="viewport" content="width=device-width, initial-scale=1" / -->
    </head>
    <body>
        <div id="app" class="app">
            <div class="ui segment app">
                <div class="ui active inverted dimmer app">
                    <div class="ui massive text loader"> Loading </div>
                </div>
                <p class="app"/>
                <p/>
                <p/>
            </div>
        </div>
    </body>
</html>
