doctype html
html(lang=htmlWebpackPlugin.options.lang)
    head
        title #{htmlWebpackPlugin.options.title}
        meta(charset='UTF-8')/
        //- link(rel='shortcut icon', type='image/x-icon', href='favicon.ico')
        //- link(type='text/css', rel='stylesheet', href='assets/css/angular-csp.css', media='screen,projection')
        //- link(type='text/css', rel='stylesheet', href='assets/css/bootstrap.min.css', media='screen,projection')
        //- link(type='text/css', rel='stylesheet', href='assets/css/bootstrap-theme.min.css', media='screen,projection')
        //- link(type='text/css', rel='stylesheet', href='styles/app.css', media='screen,projection')
        //- link(type='text/css', rel='stylesheet', href='assets/css/font-awesome.min.css')
        //- meta(name='viewport' content='width=device-width, initial-scale=1.0')
    body.body
        div#app
        //- script(src='http://localhost:3000/webpack-dev-server.js')
