doctype html
html(lang=htmlWebpackPlugin.options.lang)
    head
        title #{htmlWebpackPlugin.options.title}
        meta(charset='UTF-8')
        //- meta(name='viewport', content='width=device-width, initial-scale=1')
    body.body
        div#app.app
            div.ui.segment.app
                div.ui.active.inverted.dimmer.app
                    div.ui.massive.text.loader Loading
                p.app
                p
                p
