.container {
  margin-top: 55px;
}

.nav-input {
  padding: 3px 20px;
  border-width: 0;
  margin: 0;
}

.err-plate {
  position: absolute;
  z-index: 999;
  top: 55px;
  right: 0px;
}

#viz {
  transition: width cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  position: fixed;
  top: 55px;
  bottom: 55px;
  right: 0;
}
#viz.visual {
  width: 100%;
}
#viz.editor {
  width: 72%;
}
#opts {
  position: absolute;
  /*top: 50px;*/
  left: 10px;
  opacity: 0.8;
  z-index: 99;
}
#opts::after {
  content: ".";
  padding: 25px 0;
}
